name: par2cmdline CI MacOS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-check-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: prepare
      run: brew install automake

    - name: Build and test
      run: |
        ./automake.sh
        ./configure
        make
        make check
        make distcheck
