name: par2cmdline CI FreeBSD

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-check-freebsd:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build and test
      uses: vmactions/freebsd-vm@v1
      with:
        usesh: true
        prepare: |
          pkg install -y autoconf automake libtool
        run: |
          ./automake.sh
          ./configure
          make
          make check
          make distcheck
