name: par2cmdline CI Linux

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build-check-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build and test
      run: |
        ./automake.sh
        ./configure
        make
        make check
        make distcheck
